
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: pink;
    height: 70px;
    img{
        width: 60px;
        height: auto;
    }
    .logo{
        width: 40%;
    }
    .menu{
        align-items: center;
        display: flex;
        width: 60%;
    }
    ul{
        gap: 30px
            ;
        display: flex;
    }
    li{list-style: none;

    }
    }
