// @use"_colors.scss"-
import
@import url(./_colors.scss
@import url(./_colors.scss

$color:red;

.main{
    background-color: $color;
    width: 500px; height: 500px;
    display: flex;
    .contanier{
        background-color: blue;
        width: 50%; height: 100%;
    }
    .contanier-2{
        background-color: aqua;
        width: 50%; height: 100%;
    }
}