*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}
.main{
    display: flex;
    height: 70px;
    padding: 30px 60px;
 

}
ul{

    width: 90%;
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 40px;
}
.main img{
    width: 90px;
    height:51px;
}
.first-s{
    margin: 60px;
    background-color: #d2c7f0;
}
.image{
    background-color: url;
    width: 40%;
    height: 500px;
}